<div class="col-md-2">

</div>
<div class="col-md-4 clearfix" id="noteatenholder">
    {{#each burgers}}
        {{#unless eaten}}
            <div class="container" style="width: auto;">
                <span class="burger">{{id}}. {{burger_name}} </span><button class="btn btn-success eat pull-right" data-id={{id}}>Eat Burger!</button>
            </div>
        {{/unless}}
    {{/each}}
</div>

<div class="col-md-4" id="eatenholder">
    {{#each burgers}}
        {{#if eaten}}
        <div class="container" style="width: auto;">
            <button class="btn btn-danger delete" data-id={{id}}>Remove Plate!</button> <span class="eatenburger pull-right">{{id}}. {{burger_name}} </span>
        </div>
        {{/if}}
    {{/each}}
</div>

<div class="col-md-2">

</div>
